.vending_config {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 80px;
    bottom: 150px;
    /* border: 1px solid gray; */
    overflow: hidden;
}

.vending_config_grid {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* border: 1px solid gray; */

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.vending_config_grid > div {
    border: 1px solid gray;
    overflow: hidden;
    /* display: flex; */

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.vending_config_grid div img {
    margin-top: -4px;
    margin-left: -10px;
    width: 100%;
    height: auto;
    max-height: 120%;
    grid-area: 1 / 1 / 3 / 2;
    overflow: hidden;
}

.vending_config_grid div h1 {
    font-size: 14px;
    grid-area: 1 / 2 / 2 / 3;
    align-self: start;
}

.vending_config_grid div div {
    font-size: 20px;
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    vertical-align: bottom;
    /* background-color: red; */
    align-self: center;
}

.vending_cfg_label {
    position: absolute;
    bottom: 50px;
    left: 1300px;
    font-size: 1.4em;
    /* animation: blink-animation 1s steps(10, start) infinite;
    -webkit-animation: blink-animation 1s steps(10, start) infinite; */
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.vending_config .active {
    background-color: #B7EB74;
    box-shadow: 0 0 10px black;
}
